<template>
  <v-toolbar flat dense app color="teal lighten-3" dark>
    <v-toolbar-title>TODOAPP</v-toolbar-title>

    <v-spacer></v-spacer>
  </v-toolbar>
</template>
<script>
export default {
  name: "navbar",

  data: () => {
    return {};
  }
};
</script>