<template>
  <div>
    <v-container>
      <br>
      <v-layout row wrap>
        <v-flex md3 xs12 xl4 sm6>
          <v-btn flat @click="showbox">
            <v-icon left color="teal lighten-3">add_circle</v-icon>Add Task
          </v-btn>
        </v-flex>
        <v-flex md4 xs12 xl4 sm6>
          <transition name="fade">
            <v-card class="pa-4" flat id="card-border" v-if="showBox">
              <v-form>
                <v-text-field name="Task" v-model="name" label="Task Name" id="id"></v-text-field>
                <div v-if="error" style="color:red">Field required</div>
                <v-textarea label="Description" v-model="description" name="name"></v-textarea>
                <v-btn color="#3498db" class="white--text" @click="addTaskToList">Add Task</v-btn>
                <v-btn color="#e74c3c" class="white--text" @click="closeBox">Cancel</v-btn>
              </v-form>
            </v-card>
          </transition>
        </v-flex>
        <v-flex md4 xs12 sm6 xl4 offset-md1>
          <v-card flat id="card-border2" class="pa-3">
            <v-card-title primary-title id="title-center">
              <div>
                <h3 style="font-family: 'Times New Roman', Times, serif">TO-DO LIST</h3>
                <hr color="#80CBC4">
              </div>
            </v-card-title>
            <div v-for="(taskList,index) in taskList" :key="index">
              <div class="caption grey--text">Task-{{index+1}}</div>
              <div>{{taskList.taskName}}</div>
              <div class="caption grey--text">Description</div>
              <div>{{taskList.description}}</div>
              <v-dialog
                content-class="hello"
                v-model="dialog"
                max-width="500px"
                transition="dialog-transition"
              >
                <button slot="activator" @click="EditData(index)">
                  <v-icon small left color="green">edit</v-icon>
                </button>
                <v-card>
                  <v-card-title primary-title>
                    <h3 block style="font-family: Times New Roman, Times, serif;">Edit Task</h3>
                  </v-card-title>
                  <v-card-text>
                    <v-form>
                      <v-text-field
                        name="title"
                        v-model="predata.taskName"
                        label="Enter Task"
                        id="id"
                      ></v-text-field>
                      <v-textarea label="Enter description" v-model="predata.description"></v-textarea>
                      <v-btn
                        flat
                        class="primary mt-3 sm6 xs6 md6"
                        small
                        @click="submit(predata.taskName , predata.description,index)"
                      >Submit</v-btn>
                      <v-btn class="primary mt-3 sm6 xs6 md6" small @click="closeForm">
                        <v-icon small left>close</v-icon>close
                      </v-btn>
                    </v-form>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <button @click="deleteTask()">
                <v-icon small color="red">delete_forever</v-icon>
              </button>
              <br>
              <v-divider></v-divider>
              <br>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script type = "text/javascript" >
// import popup from "../components/popup.vue";
export default {
  name: "Todoapp",
  // components: {
  //   popup
  // },
  data: () => {
    return {
      showBox: false,
      name: null,
      description: null,
      error: false,
      dialog: false,
      predata: "",
      taskList: [
        { taskName: "Learn vue", description: "xyz" },
        { taskName: "Learn Angular", description: "xyz" },
        { taskName: "Learn React", description: "xyz" }
      ]
    };
  },
  methods: {
    showbox() {
      this.showBox = true;
    },
    closeBox() {
      this.showBox = false;
      this.error = false;
    },
    addTaskToList() {
      if (this.name == null) {
        this.error = true;
      } else {
        this.taskList.push({
          taskName: this.name,
          description: this.description
        });
        this.name = null;
        this.description = null;
        this.error = false;
      }
    },
    deleteTask(index) {
      var self = this;
      this.$swal({
        title: "Delete this comment?",
        text: "Are you sure? You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Yes, Delete it!",
        closeOnConfirm: true
      }).then(function() {
        self.taskList.splice(self.taskList.indexOf(index), 1);
        swal("Deleted!", "Your Task has been deleted.", "success");
      });
    },
    EditData(index) {
      this.dialog = true;
      console.log(index);
      this.predata = this.taskList[index];
      console.log(typeof this.predata);
    },
    closeForm() {
      this.dialog = false;
    },
    submit(a, b, index) {
      console.log(index);
      this.taskList[index] = { taskName: a, description: b };
      this.dialog = false;
      console.log(this.taskList);
    }
  }
};
</script>
<style>
#card-border {
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}
#card-border2 {
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}
#title-center {
  justify-content: center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
