<template>
  <v-app>
    <navbar />
    <v-content>
      <Todoapp />
    </v-content>
  </v-app>
</template>

<script>
import navbar from "./components/navbar";
import Todoapp from "./components/Todoapp";

export default {
  name: "App",
  components: {
    navbar,
    Todoapp
  },
  data() {
    return {
      //
    };
  }
};
</script>
